* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #519839;
  font-family: Roboto, sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0,0,0,0.2);
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255,255,255,0.5);
}